@{
    Layout = null;
}

@model MvcTest.Models.Account

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
</head>

<body>
    Username: @ViewBag.account.Username
    <br>
    Password: @ViewBag.account.Password
    <br>
    Email: @ViewBag.account.Email
</body>

</html>